.main-contact {
    height: 100%;
}

.main-contact h1 {
    text-align: center;
    letter-spacing: 2px;
}

.grid-contact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.abosolute {
    position: absolute;
    top: calc(50% - 100px);
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-evenly;
}

.content-1, .content-2 {
    width: 500px;
    height: 300px;
    background: rgb(16, 17, 19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content-1 img, .content-2 img {
    width: 40px;
    height: 40px;
}

.contact-number {
    color: tomato;
}

.content-2 button {
    border: 0;
    background: tomato;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    letter-spacing: 2px;
}

.contact-img {
    background-image: url("https://images.unsplash.com/photo-1561494653-744c43aed0c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1929&q=80");
    /* filter: grayscale(100%); */
}

.contact-filter {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: saturate(50%) blur(50px);
    backdrop-filter: saturate(50%) blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-filter h1 {
    letter-spacing: 3px;
}

.form-Contact {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-Contact input, textarea {
    width: 100%;
    border: 0;
    border-radius: 10px;
    outline: none;
    background: rgba(108, 109, 110, 0.774);
    -webkit-backdrop-filter: saturate(50%) blur(20px);
    backdrop-filter: saturate(100%) blur(20px);
    border: 1px solid #707070;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.form-Contact input {
    padding: 10px;
}

.form-Contact button {
    display: flex;
    align-items: center;
    background: #067EED;
    border: 2px solid #067EED;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-right: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}