@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: rgb(16, 17, 19);
}

* {
  box-sizing: border-box;
}
